Repository InformedSolutions/JAQU-CAZ-Retrofit-API, pull requests merged in 2020-09, with the labels that each got.

#172 [CAZB-2896] Update error mesage for lambda timeouts
  src/main/java/uk/gov/caz/retrofit/amazonaws/RuntimeExceptionHandlerLambda.java
Labels: bug

#175 Promote Retrofit v1.4.2 to Pre-Production
  .drone.yml
  .drone2.yml
  .github/dependabot.yml
  README.md
  developer-resources/scripts/retrofit-data-generator/csv_to_json.py
  pom.xml
  src/it/java/uk/gov/caz/retrofit/RegisterTestIT.java
  src/it/java/uk/gov/caz/retrofit/TestFixturesControllerIT.java
  src/it/java/uk/gov/caz/retrofit/controller/HistoricalInfoControllerIT.java
  src/it/java/uk/gov/caz/retrofit/controller/RetrofitVehicleControllerTestIT.java
  src/it/java/uk/gov/caz/retrofit/repository/RetrofittedVehiclePostgresRepositoryTestIT.java
  src/it/java/uk/gov/caz/retrofit/service/RegisterServiceTestIT.java
  src/it/java/uk/gov/caz/retrofit/service/TestFixturesLoaderTestIT.java
  src/it/resources/application-integration-tests.yml
  src/it/resources/data/csv/first-uploader-records-all-three-modified.csv
  src/it/resources/data/csv/second-uploader-mixed-business-parse-errors.csv
  src/it/resources/data/json/malformed-fixtures.json
  src/it/resources/data/json/vehicle-testit-fixtures.json
  src/it/resources/data/sql/add-sample-audit-data.sql
  src/it/resources/db/changelog/changes/0005-retrofit-1.0-use-jsonb-in-retrofit-audit-table.yaml
  src/it/resources/db/changelog/changes/0006-retrofit-1.0-add-unique-constraint-on-vrn.yaml
  src/it/resources/db/changelog/rawSql/0005-retrofit-1.0-use-jsonb-in-retrofit-audit-table.sql
  src/main/java/uk/gov/caz/retrofit/amazonaws/RuntimeExceptionHandlerLambda.java
  src/main/java/uk/gov/caz/retrofit/controller/HistoricalInfoController.java
  src/main/java/uk/gov/caz/retrofit/controller/HistoricalInfoControllerApiSpec.java
  src/main/java/uk/gov/caz/retrofit/controller/RetrofitVehicleController.java
  src/main/java/uk/gov/caz/retrofit/controller/RetrofitVehicleControllerApiSpec.java
  src/main/java/uk/gov/caz/retrofit/controller/TestFixturesController.java
  src/main/java/uk/gov/caz/retrofit/controller/TestFixturesControllerApiSpec.java
  src/main/java/uk/gov/caz/retrofit/controller/exception/InvalidRequestPayloadException.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitInfoHistoricalRequest.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitInfoHistoricalResponse.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitStatusResponse.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitVehicleHistoricalInfo.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitVehicleHistory.java
  src/main/java/uk/gov/caz/retrofit/dto/validation/VrnValidator.java
  src/main/java/uk/gov/caz/retrofit/model/ValidationError.java
  src/main/java/uk/gov/caz/retrofit/repository/RetrofitVehicleHistoryPostgresRepository.java
  src/main/java/uk/gov/caz/retrofit/repository/RetrofittedVehiclePostgresRepository.java
  src/main/java/uk/gov/caz/retrofit/service/CsvObjectMapper.java
  src/main/java/uk/gov/caz/retrofit/service/RegisterService.java
  src/main/java/uk/gov/caz/retrofit/service/RetrofitHistoricalInfoService.java
  src/main/java/uk/gov/caz/retrofit/service/RetrofitVehicleService.java
  src/main/java/uk/gov/caz/retrofit/service/RetrofittedVehicleDtoToModelConverter.java
  src/main/java/uk/gov/caz/retrofit/service/TestFixturesLoader.java
  src/main/resources/application.yml
  src/main/resources/db/fixtures/vehicle-fixtures.json
  src/test/java/uk/gov/caz/retrofit/TestVehicles.java
  src/test/java/uk/gov/caz/retrofit/dto/validation/VrnValidatorTest.java
  src/test/java/uk/gov/caz/retrofit/repository/RetrofittedVehiclePostgresRepositoryTest.java
  src/test/java/uk/gov/caz/retrofit/service/CsvObjectMapperTest.java
  src/test/java/uk/gov/caz/retrofit/service/RegisterServiceTest.java
  src/test/java/uk/gov/caz/retrofit/service/RetrofitVehicleServiceTest.java
Labels: Retro v1.4.2, do not merge, release

#176 Promote Retrofit v1.4.2 to Production
  .drone.yml
  .drone2.yml
  .github/dependabot.yml
  README.md
  developer-resources/scripts/retrofit-data-generator/csv_to_json.py
  pom.xml
  src/it/java/uk/gov/caz/retrofit/RegisterTestIT.java
  src/it/java/uk/gov/caz/retrofit/TestFixturesControllerIT.java
  src/it/java/uk/gov/caz/retrofit/controller/HistoricalInfoControllerIT.java
  src/it/java/uk/gov/caz/retrofit/controller/RetrofitVehicleControllerTestIT.java
  src/it/java/uk/gov/caz/retrofit/repository/RetrofittedVehiclePostgresRepositoryTestIT.java
  src/it/java/uk/gov/caz/retrofit/service/RegisterServiceTestIT.java
  src/it/java/uk/gov/caz/retrofit/service/TestFixturesLoaderTestIT.java
  src/it/resources/application-integration-tests.yml
  src/it/resources/data/csv/first-uploader-records-all-three-modified.csv
  src/it/resources/data/csv/second-uploader-mixed-business-parse-errors.csv
  src/it/resources/data/json/malformed-fixtures.json
  src/it/resources/data/json/vehicle-testit-fixtures.json
  src/it/resources/data/sql/add-sample-audit-data.sql
  src/it/resources/db/changelog/changes/0005-retrofit-1.0-use-jsonb-in-retrofit-audit-table.yaml
  src/it/resources/db/changelog/changes/0006-retrofit-1.0-add-unique-constraint-on-vrn.yaml
  src/it/resources/db/changelog/rawSql/0005-retrofit-1.0-use-jsonb-in-retrofit-audit-table.sql
  src/main/java/uk/gov/caz/retrofit/amazonaws/RuntimeExceptionHandlerLambda.java
  src/main/java/uk/gov/caz/retrofit/controller/HistoricalInfoController.java
  src/main/java/uk/gov/caz/retrofit/controller/HistoricalInfoControllerApiSpec.java
  src/main/java/uk/gov/caz/retrofit/controller/RetrofitVehicleController.java
  src/main/java/uk/gov/caz/retrofit/controller/RetrofitVehicleControllerApiSpec.java
  src/main/java/uk/gov/caz/retrofit/controller/TestFixturesController.java
  src/main/java/uk/gov/caz/retrofit/controller/TestFixturesControllerApiSpec.java
  src/main/java/uk/gov/caz/retrofit/controller/exception/InvalidRequestPayloadException.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitInfoHistoricalRequest.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitInfoHistoricalResponse.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitStatusResponse.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitVehicleHistoricalInfo.java
  src/main/java/uk/gov/caz/retrofit/dto/RetrofitVehicleHistory.java
  src/main/java/uk/gov/caz/retrofit/dto/validation/VrnValidator.java
  src/main/java/uk/gov/caz/retrofit/model/ValidationError.java
  src/main/java/uk/gov/caz/retrofit/repository/RetrofitVehicleHistoryPostgresRepository.java
  src/main/java/uk/gov/caz/retrofit/repository/RetrofittedVehiclePostgresRepository.java
  src/main/java/uk/gov/caz/retrofit/service/CsvObjectMapper.java
  src/main/java/uk/gov/caz/retrofit/service/RegisterService.java
  src/main/java/uk/gov/caz/retrofit/service/RetrofitHistoricalInfoService.java
  src/main/java/uk/gov/caz/retrofit/service/RetrofitVehicleService.java
  src/main/java/uk/gov/caz/retrofit/service/RetrofittedVehicleDtoToModelConverter.java
  src/main/java/uk/gov/caz/retrofit/service/TestFixturesLoader.java
  src/main/resources/application.yml
  src/main/resources/db/fixtures/vehicle-fixtures.json
  src/test/java/uk/gov/caz/retrofit/TestVehicles.java
  src/test/java/uk/gov/caz/retrofit/dto/validation/VrnValidatorTest.java
  src/test/java/uk/gov/caz/retrofit/repository/RetrofittedVehiclePostgresRepositoryTest.java
  src/test/java/uk/gov/caz/retrofit/service/CsvObjectMapperTest.java
  src/test/java/uk/gov/caz/retrofit/service/RegisterServiceTest.java
  src/test/java/uk/gov/caz/retrofit/service/RetrofitVehicleServiceTest.java
Labels: Retro v1.4.2, dont merge yet, release
